{:kotoba.app/id "cloud.itonami.isic-1103", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreig3oh7fwfrh7x5lt22oz2kwsisdxmnuvz3emb5izr5av7ax2tudku", :kotoba.app/embed-url "ipfs://bafkreig3oh7fwfrh7x5lt22oz2kwsisdxmnuvz3emb5izr5av7ax2tudku", :published {:archive "https://kotobase.net/ipfs/bafkreig3oh7fwfrh7x5lt22oz2kwsisdxmnuvz3emb5izr5av7ax2tudku", :size 72879, :put-status 201, :get-status 200, :at "2026-08-15T13:42:07.989Z"}}
